:root{
    --primary: #3e9dfc;
    --primary-010: #1e90ff;
    --primary-020: #7ec1e5;
    --primary-030: #a1d5e4;

    --secondary: #360053;
    --secondary-010: #56256c;
    --secondary-020: #5e1c69;
    --secondary-030: #874c8c;

    --white: #fff;
    --grey: #adadad;

    --black: #0b0b20;
    --black-010: #0e0e30;

}